body{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
    "header"
    "content"
    "footer";
    margin: 0;
}

nav ul {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    align-items: center;
    gap: 3em;
}

form fieldset legend{
    width: 100%; 
}

form fieldset input{
    width: 100%; 
}

form fieldset button{
    width: 100%; 
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    color: white;
    font-size: 0.75em;
    padding: 1em;
}