*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: sans-serif;
}

ul, ol {
    list-style: none;
}

body,
h1, h2, h3, h4, h5, h6,
p,
blockquote,
figure,
pre,
hr,
dl,
dd,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
    margin: 0;
    padding: 0;
}

button,
input,
select,
textarea {
    border: none;
    outline: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}